<a href="https://colab.research.google.com/github/ayush-zode/AICS-LAB/blob/main/AICS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[1,2,3,4,5]
l2=[5,6,7,8,9,10]
l1.append(l2)
print(l1)
print("\n",type(l1))


tup=(2,[5,7,8,9,6],6,'a','b')
print(tup[2])
print("\n","tup[0:3] = ", tup[0:3])
my_tuple = ('a', 'p', 'p', 'l', 'e',)
print("\n",my_tuple.count('p'))  
print("\n",my_tuple.index('l'))  

my_dict = {'name': 'Ram', 'age': 26}
print("\n",my_dict)
my_dict['age'] = 27
print("\n",my_dict)
my_dict['address'] = 'Downtown'
print("\n",my_dict)

[1, 2, 3, 4, 5, [5, 6, 7, 8, 9, 10]]

 <class 'list'>
6

 tup[0:3] =  (2, [5, 7, 8, 9, 6], 6)

 2

 3

 {'name': 'Ram', 'age': 26}

 {'name': 'Ram', 'age': 27}

 {'name': 'Ram', 'age': 27, 'address': 'Downtown'}