<a href="https://colab.research.google.com/github/ayush-zode/AICS-LAB/blob/main/AICS_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [ ]:
Social = pd.read_csv('Social_Network_Ads.csv')
data = pd.DataFrame(Social)
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import matplotlib.pyplot as plt

feature_cols = ['Age','EstimatedSalary']
X = data.drop('Purchased',axis=1)

In [ ]:
X = data.drop('Purchased',axis=1) # Features
Y = data.Purchased # Target variable

from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

# Age and Estimated Salary values lie in different ranges. 
#If we don’t scale the features then the Estimated Salary feature will dominate the Age
#feature when the model finds the nearest neighbor to a data point in the data space. 

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

# print(X_Train,'\n','\n', X_Test,'\n','\n', Y_Train,'\n','\n', Y_Test)

# Fitting the Logistic Regression into the Training set

model = LogisticRegression(random_state = 0)
model.fit(X_Train, Y_Train)

# Predicting the test set results

Y_Pred = model.predict(X_Test)
print("Predicted data for X_test is",Y_Pred)

Predicted data for X_test is [0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0
 0 0 1 0 1 1 1 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0
 0 0 1 1 1 1 0 1 1]

In [ ]:
ag=int(input("Enter age  "))
est_sal=int(input("Enter the Estimated Salary  "))
pred=model.predict([[ag,est_sal]])
print("The expected value(Purchased) is ",pred)

Enter age  36
Enter the Estimated Salary  34000
The expected value(Purchased) is  [1]